@model Orders
@{
    Layout = null;
}

<link href="@("http://" + Context.Request.Host.ToString() + "/StyleSheet.css")" rel="stylesheet"/>
@* http://localhost:port/StyleSheet.css *@

<h1>Orders </h1>

<table class="table w-100 mt">
    <thead>
    <tr>
        <th>Date and Time</th>
        <th>Stock</th>
        <th>Order Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Trade Amount</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (SellOrderResponse sellOrderResponse in Model.SellOrders)
    {
        <tr style="width: 20%">@sellOrderResponse.DateAndTimeOfOrder?.ToString("dd MM yyyy")</tr>
        <tr style="width: 20%">@sellOrderResponse.StockName (@sellOrderResponse.StockSymbol)</tr>
        <tr style="width: 15%">Sell Order</tr>
        <tr style="width: 10%">@sellOrderResponse.Quantity</tr>
        <tr style="width: 10%">@sellOrderResponse.Price</tr>
        <tr style="width: 15%">@sellOrderResponse.TradeAmount</tr>
    }
    @foreach (BuyOrderResponse buyOrder in Model.BuyOrders)
    {
        <tr style="width: 20%">@buyOrder.DateAndTimeOfOrder?.ToString("dd MM yyyy")</tr>
        <tr style="width: 20%">@buyOrder.StockName (@buyOrder.StockSymbol)</tr>
        <tr style="width: 15%">Buy Order</tr>
        <tr style="width: 10%">@buyOrder.Quantity</tr>
        <tr style="width: 10%">@buyOrder.Price</tr>
        <tr style="width: 15%">@buyOrder.TradeAmount</tr>
    }
    </tbody>
</table>