@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "People";
}

<form action="/people/index" method="get">
    <h1>People</h1>

    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected="selected">@field.Value</option>
                    }
                    else
                    {
                        <option value="@field.Key">@field.Value</option>
                    }
                }
                @* Eg: searchBy=PersonName&searchString=abc *@
            </select>
        </div>

        <div class="flex-1">
            <input value="@ViewBag.CurrentSearchString" type="search" id="Search" class="form-input" placeholder="Search" name="searchString"/>
        </div>

        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="/people/index" class="link-hover">Clear all</a>
        </div>
    </div>
    <table class="table w-100 mt">
        <thead>
        <tr>
            @if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName) && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString())
            {
                <th>
                    <a href="/people/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.DESC)">Person Name</a>
                    <i class="fa-solid fa-sort-up"></i>                
                </th>
            }
                else if (ViewBag.CurrentSortBy == nameof(PersonResponse.PersonName) && ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString())
            {
                <th>
                    <a href="/people/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.ASC)">Person Name</a>
                        <i class="fa-solid fa-sort-down"></i>
                </th>
            } 
            else
            {
            <th>
                <a href="/people/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortBy=@nameof(PersonResponse.PersonName)&sortOrder=@nameof(SortOrderOptions.ASC)">Person Name</a>
            </th>
            }
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <td>Receive News Letters</td>
        </tr>
        </thead>
        <tbody>
            @foreach (PersonResponse person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.Email</td>
                    <td>@person.DateOfBirth?.ToString("dd MM yyyy")</td>
                    <td>@person.Age</td>
                    <td>@person.Gender</td>
                    <td>@person.Country</td>
                    <td>@person.Address</td>
                    <td>@person.ReceiveNewsLetters</td>
                </tr>
            }
            <tr></tr>
        </tbody>
    </table>
</form>